body {
    padding: 5px;
}
#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
form {
    margin-top: 40px;
}

.left-edge {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
}
.right-edge {
    position: absolute;
    top: 20px;
    right: 20px;
    color: gray;
}

input {
    display: block;
    margin-block: 20px;
    width: 90vw;
    border-style: solid;
    border-color: white white black white;
}

#submit-btn {
    width: 60%;
    margin-top: 40px;
    font-size: large;
    border-style: solid;
    border-radius: 30px;
    background-color: rgb(36, 36, 36);
    border-color: rgb(36, 36, 36);
    color:white
}

#slogan {
    margin-top: 100px;
    font-family: 'IM FELL Great Primer SC', 'Times New Roman';
    color: #000000;
}