
#main-body {
    background-color: rgb(224, 224, 224);
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
form {
    margin-top: 40px;
}

.left-edge {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
}
.right-edge {
    position: absolute;
    top: 20px;
    right: 20px;
    color: gray;
}

input {
    display: block;
    margin-block: 20px;
    width: 90vw;
    border-style: solid;
    border-color: white white black white;
}

#submit-btn {
    width: 60%;
    margin-top: 40px;
    font-size: large;
    border-style: solid;
    border-radius: 30px;
    background-color: rgb(36, 36, 36);
    border-color: rgb(36, 36, 36);
    color:white
}

#slogan {
    margin-top: 100px;
    font-family: 'IM FELL Great Primer SC', 'Times New Roman';
    color: #000000;
}

#error {
    display: none;
    padding-inline: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(255, 46, 46);
    background-color: rgb(255, 182, 182);
}

#navbar-top {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    width: 100%;
}

.navbar-btn {
    width: 100%;
    height: 50px;
    font-size: large;
    border-style: solid;
    border-color: white;
    background-color: white;
}
.navbar-btn:active {
    transition-duration: 300ms;
    background-color: rgb(177, 177, 177);
}

#navbar-bottom {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
