#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}
form {
    margin-top: 180px;
}


#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
}

#post-feed {
    height: 90vh;
    margin-top: 50px;
}
.post {
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #d5d5d5;
    background-color: #d5d5d5;
    padding-inline: 9px;
}
.post-author {
    color: #1c1c1c;
}
.post-content {
    font-weight: 1000;
}

.one-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.monomaniac-one-regular {
  font-family: "Monomaniac One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pain {color: #d5d5d5;}

.google-register {
    color:gray
}

#logo {
    position:absolute;
    margin-top: 130px;
}

.left-edge {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
}
.right-edge {
    position: absolute;
    top: 20px;
    right: 20px;
    color: gray;
}

input {
    display: block;
    margin-block: 20px;
    width: 90vw;
    border-width: 1px;
    border-style: solid;
    border-color: white white rgb(104, 104, 104) white;
}

.submit-btn {
    width: 60%;
    margin-top: 40px;
    font-size: large;
    border-style: solid;
    border-radius: 30px;
    background-color: rgb(36, 36, 36);
    border-color: rgb(36, 36, 36);
    color:white
}

#slogan {
    position:absolute;
    margin-top: 200px;
    font-family: 'IM FELL Great Primer SC', 'Times New Roman';
    color: #000000;
}

#error {
    display: none;
    color: rgb(255, 0, 0);
}

#navbar-top {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    width: 100%;
}

.navbar-btn {
    width: 100%;
    height: 50px;
    font-size: large;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-radius: 1000px;
}
.navbar-btn img {
    width: 40px;
}
#post img {
    bottom: 30px;
    width: 60px;
}
.navbar-btn:active {
    transition-duration: 300ms;
    background-color: rgb(177, 177, 177);
}

.navbar-btn-top {
    width: 100%;
    height: 50px;
    font-size: large;
    border-style: solid;
    border-color: white;
    background-color: white;
}
.navbar-btn-top:active {
    transition-duration: 300ms;
    background-color: rgb(177, 177, 177);
}


#navbar-bottom {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    /* background-image: url("./../HTML/static/navbg.svg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center; */
}